body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:369px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:332px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:332px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:335px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:485px;
  width:375px;
  height:335px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:160px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:118px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:799px;
  width:375px;
  height:118px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:51px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:162px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:332px;
  width:375px;
  height:162px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
