body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:11px;
  width:174px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:621px;
  width:249px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1313px;
  height:622px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:656px;
  width:1313px;
  height:622px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:1309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:629px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:357px;
  height:8px;
}
#u6_seg1 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:-4px;
  width:8px;
  height:31px;
}
#u6_seg2 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:13px;
  width:20px;
  height:21px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:685px;
  width:75px;
  height:36px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:246px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:761px;
  width:268px;
  height:246px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:115px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:246px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:761px;
  width:268px;
  height:246px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:115px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:246px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:761px;
  width:268px;
  height:246px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:115px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:248px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:1014px;
  width:269px;
  height:248px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:248px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1015px;
  width:268px;
  height:248px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:569px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:41px;
  width:1349px;
  height:569px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:451px;
  width:128px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:451px;
  width:128px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
