body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:661px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:661px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 232, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#28463C;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:116px;
  width:229px;
  height:26px;
  color:#28463C;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:39px;
  background:inherit;
  background-color:rgba(34, 71, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:35px;
  width:166px;
  height:39px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u90_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:661px;
  background-image:none;
}
#u90_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:661px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:661px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 232, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#28463C;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:116px;
  width:229px;
  height:26px;
  color:#28463C;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
  background:inherit;
  background-color:rgba(34, 71, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:35px;
  width:210px;
  height:35px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:315px;
  width:13px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:561px;
  width:28px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98_ann {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:557px;
  width:1px;
  height:1px;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:123px;
  width:99px;
  height:36px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:123px;
  width:100px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:34px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:169px;
  width:99px;
  height:34px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:168px;
  width:161px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
