body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1343px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:2297px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:2297px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1140px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:928px;
  width:100px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:27px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:92px;
  width:377px;
  height:27px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1355px;
  height:1567px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:82px;
  width:1355px;
  height:1567px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:776px;
  width:1351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:275px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:712px;
  width:537px;
  height:275px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
